@charset "utf-8";
body{
	color: #777;
	font-family: "Helvetica Neue","Open Sans","Microsoft YaHei","微软雅黑","Hiragino Sans GB","STHeiti","WenQuanYi Micro Hei",SimSun,sans-serif;
}
a, a:hover{
	color: #777;
	text-decoration: none;
}
body,ul,li,a,h2,h3,h4,p{
	padding: 0;margin: 0;
}
ul{
	list-style: none;
}
img{
	width: 100%;
}
#header{
	width: 100%;
	height: 70px;
	z-index: 9999 !important;
	background: #fff;
	position: relative;
	border-bottom: 1px solid #e6e6e6;
}
.content{
	width: 1200px;
	margin: 0 auto;
}
.header{
	position: relative;
	z-index: 9999;
}
.logo{
	float: left;
}
#nav{
	padding: 24px 0 0 10px;
	float: left;
}
#nav li{
	float: left;
	margin-right: 25px;
	position: relative;
}
#nav li>a{
	padding-bottom: 5px;
}
#nav li>a.active, #nav li:hover>a{
	border-bottom: 2px solid #ff3573;
}
#nav .glyphicon{
	color: #B2B2B2;
	font-size: 12px;
}
.navdown_list{
	display: none;
	width: 150px;
	padding: 10px;
	background: #fff;
	border: 1px solid #e6e6e6;
	border-radius: 5px;
	position: absolute;
	top: 26px;
	box-shadow: 0px 0px 1px 0px #BEBEBE;
}
.navdown_list a{
	float: left;
	margin: 5px;
}

.bottom_link{
	width: 1000px;
	margin: 0 auto;
	text-align: center;
}
.bottom_link a{
	padding: 0 16px;
	font-size: 12px;
	margin: 8px 0;
	display: inline-block;
	color: #ff3573;
	border-right: 1px solid #ff3573;
}
.bottom_link a:nth-last-of-type(1){
	border: none;
}
#footer{
	width: 100%;
	background: #524641;
	overflow: hidden;
}
.site_link{
	text-align: center;
	margin-bottom: 40px;
}
.site_link h3{
    margin: 0 0 15px;
    padding-top: 44px;
    font-weight: bold;
    font-size: 14px;
    color: rgba(255,255,255,0.5);
}
.site_link_con a{
	display: inline-block;
	width: 160px;
	height: 46px;
	margin: 0 10px 20px;
	border-radius: 2px;
	border: 1px solid rgba(255,255,255,0.05);
	overflow: hidden;
	cursor: pointer;
}
.site_link_con a:hover{
	background: #fff;
}
.site_link_con a:hover img{
	margin-top: -46px;
}
.copyright{
	width: 900px;
	margin: 0 auto;
	padding: 30px 0;
	overflow: hidden;
	border-top: 1px solid #5A4F4A;
}
.copyright .logo{
	width: 150px;
	float: left;
	margin-right: 20px;
}
.copyright .copyright_con{
	float: left;
	color: #fff;
	font-size: 13px;
	line-height: 24px;
	padding-top: 12px;
}
.copyright .copyright_con span{
	margin-left: 20px;
}

.scale{
	width: 100%;
	height: 100%;
	display: block;
	overflow: hidden;
}
.scale img{
	-webkit-transition: all 0.7s ease;
    -moz-transition: all 0.7s ease;
    -o-transition: all 0.7s ease;
    -ms-transition: all 0.7s ease;
    transition: all 0.7s ease;
}
.scale:hover img{
	-moz-transform:scale(1.1);
    -webkit-transform:scale(1.1);
    -o-transform:scale(1.1);
    -ms-transform:scale(1.1);
    transform:scale(1.1);
}















