@charset "utf-8";
#slide {
    overflow: hidden;
    position: relative;
}

.index_slide {
    width: 100%;
    height: 600px;
    overflow: hidden;
    position: relative;
}

.index_slide .bd img {
    width: 1920px;
    height: 600px;
    display: block;
    position: relative;
    left: 50%;
    margin-left: -960px;
}

.index_top_ad {
    padding: 20px 0;
}

.index_top_ad li,
.index_top_ad li img {
    height: 80px;
}

.index_ditu_con {
    height: 700px;
    position: relative;
    border: 1px solid #ccc;
}

.index_ditu_con .ditu_text {
    position: absolute;
    width: 350px;
    text-align: center;
    top: 30px;
    left: 20px;
}

.ditu_text_cen li {
    width: 270px;
    margin: 15px auto;
    height: 40px;
    color: #fff;
    position: relative;
}

.ditu_text_cen li:hover span {
    display: block;
}

.ditu_text_cen li a {
    display: block;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #fff;
}

.ditu_text_cen li span {
    display: none;
    position: absolute;
    left: 270px;
    top: 0;
    width: 300px;
    height: 40px;
    line-height: 18px;
    background: #fff;
    padding: 2px 15px;
    z-index: 9;
    font-size: 12px;
    text-align: left;
}

.ditu_text_cen li span:before {
    content: "";
    position: absolute;
    left: -19px;
    top: 0;
    width: 0;
    height: 0;
    border-top: 19px solid transparent;
    border-bottom: 19px solid transparent;
    border-right: 19px solid #fff;
    border-left: 0 dotted;
}

.ditu_text_cen li:nth-of-type(1) {
    background: #ef553f;
}

.ditu_text_cen li:nth-of-type(1) span {
    border: 1px solid #ef553f;
    color: #ef553f;
}

.ditu_text_cen li:nth-of-type(2) {
    background: #48a066;
}

.ditu_text_cen li:nth-of-type(2) span {
    border: 1px solid #48a066;
    color: #48a066;
}

.ditu_text_cen li:nth-of-type(3) {
    background: #4885a4;
}

.ditu_text_cen li:nth-of-type(3) span {
    border: 1px solid #4885a4;
    color: #4885a4;
}

.ditu_text_cen li:nth-of-type(4) {
    background: #e8bd06
}

.ditu_text_cen li:nth-of-type(4) span {
    border: 1px solid #e8bd06;
    color: #e8bd06;
}

.ditu_text_cen li:nth-of-type(5) {
    background: #73528e;
}

.ditu_text_cen li:nth-of-type(5) span {
    border: 1px solid #73528e;
    color: #73528e;
}

.ditu_text_cen li:nth-of-type(6) {
    background: #ea669c;
}

.ditu_text_cen li:nth-of-type(6) span {
    border: 1px solid #ea669c;
    color: #ea669c;
}

.ditu_text_cen li:nth-of-type(7) {
    background: #ef553f
}

.ditu_text_cen li:nth-of-type(7) span {
    border: 1px solid #ff8b00;
    color: #ff8b00;
}

.ditu_text_top {
    padding-bottom: 15px;
    margin-bottom: 15px;
    background: url(../images/euro_hr.png) no-repeat center bottom;
}

.ditu_text_top h2 {
    margin-bottom: 10px;
}

.ditu_text_bot {
    padding-top: 15px;
    margin-top: 15px;
    background: url(../images/euro_hr.png) no-repeat center top;
}

.ditu_text_bot p {
    margin-bottom: 10px;
}

.index_ditu_con .ditu_img,
.index_ditu_con .ditu_img img {
    height: 100%;
    width: auto;
    float: right;
}

.index_boxOne {
    width: 100%;
    height: auto;
    background: #F3F2EB;
    padding: 60px 0;
}

.index_title {
    position: relative;
    text-align: center;
    margin-bottom: 25px;
}

.index_title .line {
    width: 100%;
    height: 2px;
    background-color: #fff;
    border-top: 1px solid #CBCBCB;
    overflow: hidden;
    position: absolute;
    left: 0;
    top: 50%;
}

.index_title h2 {
    display: inline-block;
    padding: 0 30px;
    font-size: 28px;
    color: #666;
    background: #F3F2EB;
    position: relative;
    z-index: 1;
}

.index_boxTwo {
    width: 100%;
    padding: 60px 0 50px;
    overflow: hidden;
}

.index_title1 {
    text-align: center;
    margin-bottom: 10px;
}

.index_title1 em {
    font-style: normal;
    color: #ff3573;
}

.index_title1 span {
    font-size: 12px;
    color: #969696;
}

.ziyou_con ul {
    margin-right: -20px;
    margin-left: -20px;
}

.ziyou_con a {
    cursor: pointer;
}

.ziyou_con li {
    width: 580px;
    height: 120px;
    padding: 10px;
    margin: 15px 20px;
    border-radius: 2px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
    display: block;
    background: #F5F4EF;
}

.ziyou_con .ziyou_img {
    height: 100%;
    width: 150px;
    float: left;
    position: relative;
}

.ziyou_con .ziyou_img img {
    width: 150px;
    height: 100px;
}

.ziyou_con .ziyou_img span {
    position: absolute;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.6);
    padding: 3px 8px;
    font-size: 12px;
    color: #fff;
}

.ziyou_con .ziyou_text {
    width: 385px;
    height: 100px;
    float: right;
    font-family: "微软雅黑";
}

.ziyou_con .ziyou_text h3 {
    font-size: 16px;
    color: #333;
    width: 100%;
    height: 36px;
    line-height: 40px;
    overflow: hidden;
}

.ziyou_con .ziyou_text>p {
    font-size: 12px;
    color: #969696;
    margin-bottom: 10px;
}

.ziyou_con .ziyou_text .service {
    float: left;
    padding-top: 2px;
}

.ziyou_con .ziyou_text .service span {
    background: #ECEBE4;
    color: #b4b4b4;
    font-size: 12px;
    height: 26px;
    line-height: 26px;
    padding: 0 8px;
    border-radius: 3px;
    margin-right: 10px;
    display: inline-block;
}

.ziyou_con .ziyou_text .price {
    float: right;
    color: #f64b18;
    font-size: 24px;
}

.ziyou_con .ziyou_text .price span {
    font-size: 12px;
    color: #969696;
}

.ziyou_con li:nth-last-of-type(1) {
    text-align: center;
}

.ziyou_con li:nth-last-of-type(1) h4 {
    font-size: 28px;
    color: #ff3573;
    margin: 20px 0 6px 0;
}

.ziyou_con li:nth-last-of-type(1) p {
    color: #969696;
}

.ziyou_jd {}

.ziyou_jd_title {
    text-align: center;
    color: #969696;
    margin: 40px 0 15px 0;
    font-size: 16px;
}

.ziyou_jd_con ul {
    margin-right: -20px;
    margin-left: -20px;
}

.ziyou_jd_con li {
    width: 63px;
    height: 82px;
    margin: 0px 20px;
    background: #f5f4ef;
    padding: 0;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
}

.ziyou_jd_con li h3 {
    font-size: 12px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    overflow: hidden;
    color: #969696;
}

.ziyou_jd_con li img {
    width: 64px;
    height: 50px;
    border-radius: 3px;
}

.ziyou_jd_con li:nth-last-of-type(1) a {
    color: #ff3573;
    text-align: center;
    display: block;
    line-height: 80px;
    font-size: 12px;
    font-weight: bold;
}

.slideBox_dz {
    width: 100%;
    border: 1px solid #E2E1DB;
    position: relative;
}

.slideBox_dz .hd {
    height: 90px;
    background: #fff;
}

.slideBox_dz .hd .row {
    margin: 0;
}

.slideBox_dz .hd li {
    height: 90px;
    text-align: center;
}

.slideBox_dz .hd li a {
    height: 44px;
    margin-top: 23px;
    display: inline-block;
    border-right: 1px solid #F3F3EE;
}

.slideBox_dz .hd li:nth-last-of-type(1) a {
    border: none;
}

.slideBox_dz .hd li {
    cursor: pointer;
}

.slideBox_dz .hd li:hover {
    background: #f3f3ee;
}

.slideBox_dz .hd h3 {
    font-size: 16px;
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.slideBox_dz .hd span {
    font-size: 12px;
    color: #c4c0bb;
}

.slideBox_a>a {
    width: 60px;
    height: 32px;
    color: #fff;
    text-align: center;
    line-height: 32px;
    font-size: 38px;
    background: rgba(0, 0, 0, 0.40);
    display: inline-block;
    -webkit-transform: scale(1, 3);
    transform: scale(1, 3);
    border-radius: 3px;
    position: absolute;
    top: 50%;
    margin-top: -48px;
    z-index: 99;
    cursor: pointer;
}

.slideBox_a .prev {
    left: 30px;
}

.slideBox_a .next {
    right: 30px;
}

.picScroll-left {
    position: relative;
    overflow: hidden;
}

.picScroll-left li {
    width: 360px;
    margin: 50px 20px;
    float: left;
}

.picScroll-left .pic {
    position: relative;
    width: 360px;
    height: 360px;
}

.picScroll-left li .pic a img {
    width: 360px;
    height: 360px;
    display: block;
}

.picScroll-left li .pic .info {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #fff;
}

.picScroll-left li .pic .info img {
    width: auto;
}

.picScroll-left li .pic .info p:nth-of-type(1) {
    font-size: 24px;
    font-weight: bold;
}

.picScroll-left li .pic .info p:nth-of-type(2) {
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
}

.picScroll-left li .pic .info p:nth-of-type(2) img {
    height: 22px;
    margin-right: 2px;
}

.picScroll-left li .pic .info p span {
    margin: 0 12px;
}

.picScroll-left li .title h3 {
    color: #00abd6;
    margin: 25px auto 0;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 1px solid #ddd;
    margin-bottom: 10px;
}

.picScroll-left li .title p {
    font-size: 12px;
    height: 60px;
    line-height: 20px;
    overflow: hidden;
}

.index_ad li {
    margin: 20px 0;
}

.index_ad li img {
    height: 325px;
}